.cart-item {
     border: 1px solid #ddd;
     padding: 10px;
     margin: 10px;
     /*max-width: 500px;*/
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
   
   .details {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   
   .details span {
     margin-right: 10px; 
   }
   
   .delete-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 32px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px; 
  }
  
  .delete-button:hover {
    background-color: #555; 
  }


